<html ng-app="app3">
	<body ng-controller="mainCtrl">
		<div>
		Filter:<input ng-model="filterText" />
		</div>
		<div ng-repeat="employee in employees | filter: filterText">
			<div><strong>{{employee.name}}</strong></div>
			<div>Email: <span style="color:blue;">{{employee.email}}</span></div>
			<div>Date Employed: {{employee.dateEmployed}}</div>
			<div>Phone: {{employee.phone}}</div>
			<hr>
		</div>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
